@model List<Department>
@{
    ViewData["Title"] = "Index";
}

<h2>Departments</h2>
<table>
    <tr>
        <th>Id</th>
        <th></th>
        <th>Name</th>
    </tr>
    @foreach (var dept in Model)
    {
        <tr>
            <td>@dept.Id</td>
            <th></th>
            <td>@dept.Name</td>
        </tr>
    }
</table>

